---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeDots from "@/components/icons/CodeDots.astro"
import Experience from "@/components/Experience.astro"
import UserHeart from "@/components/icons/UserHeart.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
import Contact from "@/components/Contact.astro"
import Mail from "@/components/icons/Mail.astro"
import Footer from "@/components/Footer.astro"
---

<Layout
  title="Adel Ashraf | DevOps Engineer"
  description="DevOps Engineer focused on Cloud, Linux, Docker, CI/CD, and Cloud Infrastructure. Explore my projects, experience, and technical journey."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experience">
      <TitleSection>
        <Briefcase class="size-8" />
        Work Experience
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <TitleSection>
        <CodeDots class="size-7" />
        Projects
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about-me">
      <TitleSection>
        <UserHeart class="size-8" />
        About Me
      </TitleSection>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="contact" class="pb-20">
      <TitleSection>
        <Mail class="size-8" />
        Get In Touch
      </TitleSection>
      <p class="mb-8 max-w-2xl text-lg text-gray-700 dark:text-gray-300">
        Have a project, job opportunity, or just want to say hello?
        <br class="hidden sm:block" />
        I'd love to hear from you.
      </p>
      <Contact />
    </SectionContainer>
  </div>
  </main>
  <Footer />
</Layout>
